<!DOCTYPE html>
<html>
<head>
  <title>Kyles Web Services</title>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="css/style.css">

</head>

<nav class="navbar navbar-expand">
    <a class="navbar-brand" href="/" id="navbar-brand">
            <canvas id="canvas"></canvas>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#about">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#languages">Languages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          
        <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
  </nav>
<body>
    <div class="container">
        <br>
        <div class="row">
              <div class="about-section" id="about">
                <div class="container">
                  <div class="about-content">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                    <img src="/img/kyle.png" alt="Logo" class="logo2 flying-in-logo2">
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                    <div class="text-content flying-in-text">
                      <h2>About Me</h2>
                      <p>
                        My name is Kyle Brown, a 28-year-old experienced web developer and a proud father of one daughter. I specialize in HTML, CSS, JavaScript, PHP, MySQL, Node.js, and Node Express. With a passion for creating engaging and user-friendly websites, I am seeking freelance opportunities or a company to grow with. In my free time, I enjoy competitive gaming, playing sports, working out, and, of course, coding.
                      </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <br>
    <div class="row text-center">
        <div class="col-12" id="languages">
            <h3 class="skills-title">Languages</h3>
        </div>
        </div>
        <br>
        <div class="row">
        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">HTML</h5>
              </div>
              <div class="card-dropdown">
                <p class="card-text skills-text">HTML (Hypertext Markup Language) is the standard markup language for creating web pages and applications. It provides a structure and defines the elements that make up a webpage, allowing you to create headings, paragraphs, links, images, forms, and more by using tags and attributes to specify their properties and relationships.
                </p>
              </div>
            </div>
          </div>
          
          <!-- Add more cards for your other skills -->
          <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">CSS</h5>
            </div>
              <div class="card-dropdown">
              <p class="card-text skills-text">CSS (Cascading Style Sheets) is a stylesheet language used to describe the presentation and visual styling of HTML documents. It allows you to control the layout, colors, fonts, and other visual aspects of web pages by targeting specific HTML elements and applying styles using selectors, properties, and values.</p>
            </div>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Javascript</h5>
              </div>
              <div class="card-dropdown">
                <p class="card-text skills-text">
                    JavaScript is a powerful scripting language that enables interactivity and dynamic behavior on web pages. It allows you to manipulate the content, modify styles, handle events, validate forms, make HTTP requests, and create complex functionality by writing code that executes in the browser, responding to user actions and manipulating the Document Object Model (DOM) of the page.</p>
            </div>
            </div>
          </div>

        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Bootstrap</h5>
                  </div>
                  <div class="card-dropdown">
                  <p class="card-text skills-text">
                    Bootstrap is a popular front-end framework that provides a collection of pre-built responsive components and CSS classes. It simplifies web development by allowing you to quickly create mobile-friendly and visually appealing websites using a grid system, responsive utilities, ready-to-use UI components, and customizable themes.              </div>
            </div>
  
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">PHP</h5>
                  </div>
                  <div class="card-dropdown">
                  <p class="card-text skills-text">
                    PHP is a server-side scripting language used for web development to create dynamic and interactive websites. It allows you to generate HTML content, process form data, interact with databases, handle file uploads, and perform various server-side tasks, providing the backbone for server-side logic and functionality on the web.              </div>
            </div>
  
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">MySQL</h5>
                  </div>
                  <div class="card-dropdown">
                  <p class="card-text skills-text">
                    MySQL is a popular open-source relational database management system (RDBMS) used for storing, managing, and retrieving data in web applications. It enables you to create and manipulate databases, define tables and relationships, perform queries, insert, update, and delete records, and ensure data integrity and security, serving as a robust backend storage solution for web applications.              </div>
            </div>
  
          </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center" id="services">
            <h3 class="skills-title">Services</h3>
            </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion purple-accordion text-center" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Basic Website
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                With my expertise in HTML, CSS, and JavaScript, I can create a stunning and user-friendly basic website for your business. This website will serve as an online presence to showcase your products, services, and brand. It will be visually appealing, easy to navigate, and optimized for search engines, ensuring maximum visibility and engagement for your target audience.                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              CMS Website
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Looking for a website that you can easily manage and update without any technical knowledge? I can develop a Content Management System (CMS) website for you. Using technologies like PHP, MySQL, and JavaScript, I will create a custom CMS that empowers you to add, edit, and delete content effortlessly. You'll have full control over your website's content, allowing you to keep it fresh, relevant, and up to date.                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Web Application
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                If you require more than just a static website and need advanced functionality, I specialize in developing robust web applications. Leveraging technologies like Node.js and Express.js, I can build dynamic web applications that offer interactive features, real-time updates, and seamless user experiences. Whether it's a user portal, data management system, or an e-commerce platform, I can bring your vision to life.                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Booking & Reservation System
                              </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                Streamline your business operations and enhance customer convenience with a customized Booking and Reservation System. Using my expertise in backend development and databases, I can create a secure and efficient system that allows your customers to book appointments, make reservations, and manage their bookings online. This will save time, reduce administrative overhead, and provide a seamless experience for your clients.                            </div>
                          </div>
                      </div>
                      <br>
                      
        </div>
        
    </div>
    </div>
    <div class="row text-center">
      <div class="col-12" id="portfolio">
        
      <h3 class="skills-title">Portfolio</h3>
      </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="custom-card-slider">
              <div class="custom-cards-container">
                <div class="custom-cards">
                  <img src="/img/CODSND.png" class="custom-card-img-top" alt="Card Image 1">
                  <div class="custom-card-body">
                    <a target="_blank" href="https://www.codsnd.com"><h5 class="custom-card-title">www.codsnd.com</h5></a>
                    
                  </div>
                </div>
                <div class="custom-cards">
                  <img src="/img/MYCODSTATS.png" class="custom-card-img-top" alt="Card Image 1">
                  <div class="custom-card-body">
                    <a target="_blank" href="https://www.mycodstats.com"><h5 class="custom-card-title">www.mycodstats.com</h5></a>
                    
                  </div>
                </div>
                <div class="custom-cards">
                  <img src="/img/cod-tv.png" class="custom-card-img-top" alt="Card Image 1">
                  <div class="custom-card-body">
                    <a target="_blank" href="https://www.cod-tv.online"><h5 class="custom-card-title">www.cod-tv.online</h5></a>
                    
                  </div>
                </div>
                <div class="custom-cards">
                  <img src="/img/casino-edge.png" class="custom-card-img-top" alt="Card Image 1">
                  <div class="custom-card-body">
                    <a target="_blank" href="https://turnt-11.github.io/4Decks.html"><h5 class="custom-card-title">BlackJack Card Counter</h5></a>
                    
                  </div>
                </div>
                <!-- Add more card items here -->
              </div>
            </div>
            <div class="slider-controls">
              <button class="slider-control prev-btn">Prev</button>
              <button class="slider-control next-btn">Next</button>
            </div>
            <br>
          </div>
        </div>
        


    <div class="row">
      <div class="col-12">
        <div class="about-section">
                        <div class="container-fluid">
                          <div class="about-content">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="text-content flying-in-text text-center">
                              <h3>Let's Work Together</h3>
                              <p class="servicetext">By offering these services, I can help you establish a strong online presence, improve customer engagement, and streamline your business operations. Each solution is tailored to your specific requirements, ensuring that your website or application aligns perfectly with your goals and objectives. Let's collaborate to create a digital solution that sets you apart from the competition and drives your business forward.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
      </div>
    </div>
    <div class="row text-center">
        <div class="contact-section">
            <div class="container-fluid">
                <div class="col-12" id="contact">
              <h2 class="skills-title">Contact Me</h2>
              </div>
              <div class="row contact">
                <div class="col-md-12">
                  <form method="post" action="/contact" class="contact-form flying-in-text contact-form-border">
                    <div class="form-group">
                      <label for="name">Your Name:</label>
                      <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Your Email:</label>
                      <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="service">Select a Service:</label>
                      <select id="service" name="service" class="form-control" required>
                        <option></option>
                        <option>Basic Website</option>
                        <option>CMS Website</option>
                        <option>Web Application</option>
                        <option>Booking & Reservation System</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="message">Your Message:</label>
                      <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
                    </div>
                    <br>
                  
                    <button type="submit" class="btn submit-form">Send Message</button>
                  </form>
                  
                </div>
              </div>
            </div>
        </div>
    </div>
    
      
  

</div>

<script src="/js/scripts.js"></script>

</body>
</html>
